.img{
    height: 200px;
    width: 200px;
}
.img:hover{
    transform: translate(-5px, -5px);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.shake {
    animation: shake 0.15s; 
    animation-iteration-count: 2; 
}

@keyframes shake {
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(5px, 0px); }
    100% { transform: translate(-5px, 0px); }
}