*{
    text-align: center;
}
.header{
    height: 400px;
    background-image: url('../../Images/2ilN4K.jpg');
    background-size: cover;
}
.title{
    padding-top: 150px;
    display: block;
    color: lightblue;
}

h1{
    font-weight: bolder;
    font-size: 60px;
}