*{
    text-align: center;
}
.header{
    margin-top: 36px;
    height: 400px;
    background-image: url('../../Images/water-1330252__340.jpg');
    background-size: cover;
}
.title{
    padding-top: 150px;
    display: block;
}

h1{
    font-weight: bolder;
    font-size: 60px;
}